{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:flowtype/recommended"],
  "plugins": ["prettier", "flowtype"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "mount": false,
    "render": false,
    "shallow": false,
    "spy": false
  },
  "rules": {
    "flowtype/type-id-match": [
      2,
      "^([A-Z][a-z0-9]*)+Type$"
    ],
    "flowtype/require-valid-file-annotation": [
      2,
      "always", {
        "annotationStyle": "line"
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "import/no-extraneous-dependencies": [ "error", {
      "devDependencies": true
    }],
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  }
}
